/* Just copied a bunch of code from snake.css */

body {
  background-image: url('https://github.com/reeqbone/reeqbone.github.io/blob/main/websiteData/starynight.gif?raw=true');
  margin: 0;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
}


#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7); /* More transparent */
  box-shadow: 0 0 50px 10px #458588, 0 0 30px 30px #e18e96;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  border-radius: 18px;
}

#walker {
  background-color: #e18e96;
  box-shadow: 0 0 20px 6px #e18e96, 0 0 40px 12px #fff3;
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 55%;
}


#follower {
  background-color: #e18e96;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 35%;
}
