body {
  margin: 0px;
}

canvas {
  background-color: #ea6962;
  background-image: url('https://github.com/reeqbone/reeqbone.github.io/blob/main/websiteData/tokyo.gif?raw=true')
}

img {
  display: none;
}

