body {
  background-image: url('https://github.com/reeqbone/reeqbone.github.io/blob/main/websiteData/campfire.gif?raw=true');
  margin: 0;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
}

#board {
  width: 640px;
  height: 640px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7); box-shadow: 0 0 50px #ea6962;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  border-radius: 18px;
}

#score, #highScore, #deathCount {
  color: #f9f5d7;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-shadow: 0 2px 8px #282828;
  padding: 8px 18px;
  background: rgba(40, 40, 40, 0.7);
  border-radius: 8px;
  margin: 8px;
  display: inline-block;
}

#score, #highScore {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

#highScore {
  left: unset;
  right: 18px;
  transform: none;
}

#deathCount {
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
  border-radius: 5px;
  transition: background 0.2s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.snake {
  background-color: #a9b665;
  z-index: 2;
  border: 2px solid #98971a
}

#snake-head {
  background-color: #ea6962;
  box-shadow: 0 0 25px #98971a
}

.apple {
  background-color: #ff2e63;
  z-index: 1;
  box-shadow: 0 0 18px #ff2e63, 0 2px 8px #ff6f91;
  border: 2px solid #ff6f91;
}

#deathCount {
  color: white;
  position: absolute;
}


.chaser-snake {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
  border-radius: 5px;
  transition: background 0.2s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}


.chaser-snake {
  background-color: #d0676c;
  z-index: 2;
  border: 2px solid #9870af
}

#chaser-head {
  background-color: #aa485a;
  box-shadow: 0 0 25px #c4aead
}

#gameInfo {
  position: absolute;
  top: 3px;
  left: 18px;
  z-index: 10;
}

.info-box {
  color: #f9f5d7;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-shadow: 0 2px 8px #282828;
  padding: 8px 18px;
  background: rgba(40, 40, 40, 0.7);
  border-radius: 8px;
  margin: 8px;
  display: inline-block;
  font-family: 'Segoe UI', 'Arial', sans-serif;
}

.snake, .apple, .chaser-snake {
  will-change: transform;
}
