
body {
  background-image: url('https://raw.githubusercontent.com/reeqbone/reeqbone.github.io/refs/heads/main/asd-projects/snake/greenroom.gif');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#board {
  width: 640px;
  height: 640px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7); box-shadow: 0 0 50px #ea6962;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
  border-radius: 5px;
  transition: background 0.2s;
}

.snake {
  background-color: #a9b665;
  z-index: 2;
}

#snake-head {
  background-color: #ea6962;
  box-shadow: 0 0 25px #98971a
}

.apple {
  background-color: #ff2e63;
  z-index: 1;
  box-shadow: 0 0 10px #ff2e63 
}

#deathCount {
  color: white;
  position: absolute;
}